
    <div class="card">
      <div class="card-img-wrapper">
      <img class="propImg" *ngIf="property.Image" src="{{property.Image}}" alt="">
      <img *ngIf="!property.Image" class="propImg" src="assets/image/img-default.jpg">
      <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
        <li class="list-inline-item">
        </li>
        <li class="list-inline-item">
           <!--admin edit location-->
        <button mat-raised-button *ngIf="loggedinUser() && (logginUser.role=='admin')" class="btn btn-outline-primary" (click)="openDialogEdit(property)"
        data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="margin-right: 15px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
         <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
         <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
       </svg> </button>

          <!--detail property btn-->
          <button class="btn btn-outline-primary" routerLink="property-detail/{{property.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
              <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"/>
              <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
            </svg>
          </button>
        </li>
      </ul>
      </div>
      <div class="card-body p-2">
        <h2>{{property.name}}</h2>
        <h6>{{property.address}}</h6>
        <hr *ngIf="!hideIcons" class="mt-0 mb-2">
       <h6 class="mb-0">₹<span class="font-highligt">  {{property.price}}</span>/Person
        <span *ngIf="!hideIcons"><button *ngIf="loggedinUser() && (logginUser.role=='user')" (click)="openDialog(property)" mat-raised-button color="primary"
          style="margin-left: 60px; margin-top:auto;"
          data-bs-toggle="modal" data-bs-target="#exampleModal">Book</button>
          <!--if user is not login-->
          <button *ngIf="!loggedinUser()" routerLink="/user/login" mat-raised-button color="primary"
          style="margin-left: 60px; margin-top:auto;"
          data-bs-toggle="modal" data-bs-target="#exampleModal">Book</button>
          </span>
      </h6>

      </div>
    </div>



